*{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

html,body{
    height:100%;
    width:100%;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    flex-wrap: wrap;
    background-color: rgb(9, 5, 47);
}

header{
    width: 100%;
  
    background-color: rgb(21, 8, 96);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    position: fixed;
    margin-bottom: 20px;
    div{
        display: flex;
        align-items: center;
        gap: 20px;
        color: aqua;
        font-size: larger;
        font-style: oblique;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 700;
        h1{
            color: #fff;
        font-size: larger;
        font-style: normal;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 700;
        }
        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 2px solid rgb(89, 195, 149);
        }
    }
    section{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 15px;
    }
    a{
        padding: 15px;
        text-decoration: none;
        color: black;
        background-color: beige;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Times New Roman', Times, serif;

    }
    
}
#fakeWala{
    width: 100%;
    
    margin-bottom: 20px;
    position: sticky;
    z-index: -1;
    opacity: 0;
}


#main{
    width: 100vw;
    /* background-color: rgb(10, 9, 56); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 30px;
    padding: 20px;
}
ol{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
ol::marker{
    text-transform: capitalize;
}
ol li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(80, 75, 75);
    padding: 15px;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border: 2px solid rgb(36, 3, 3);
    border-radius: 20px;
    /* background-color: aqua; */
}
ol li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(44, 176, 35);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    border-radius: 20px;
}
small{
    color: aqua;
}
.remove{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.delete{
    background-color: rgb(220, 30, 30);
    border-radius: 10px;
}